h2{
    text-align: center;
}
p{
    margin: 3px;
   padding: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius:  0px 0px 15px 15px;
    
  }
  


  .li{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    padding-top: 10px;
    padding-left: 60px;
  }
  .div p{ height: 100px;
    width: 400px;
  }

body{
   background-color: aliceblue;


}
img{
  width:420px; 
  height:315px;
}
.container{
  padding: 5px;
  margin: 5px;
  background-color: rgb(218, 242, 242);

}
footer{
  background-color: #333;
  color: white;
  text-align: center;
   padding-left:10px;
  padding-right:10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius:15px 15px 0 0  ;
}
footer p{
  margin-top: 0px;
  margin-bottom: 0px;
}